.contLogin1 {
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.btn-twitter {
  padding: 12px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  color: #90c33c;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 5px;
  border: 2px solid gainsboro;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-left: 0px;
  outline: none;
}
