.search_cont {
  width: 90%;
  height: 150px;
  background-color: white;
  max-width: 1200px;
  margin: -50px auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
}

.serc {
  margin: 0 auto;
  width: 90%;
}

.serc h3 {
  font-weight: 800;
  font-size: 20px;
}

.serc {
  outline: none !important;
}

.search_cont button {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 15px;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: gray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search_cont {
    height: 250px;
    grid-template-columns: 100%;
    margin: 50px auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .search_cont {
    height: 250px;
    grid-template-columns: 100%;
    margin: 50px auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .search_cont {
    height: 250px;
    grid-template-columns: 100%;
    margin: 50px auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .search_cont {
    height: 200px;
    grid-template-columns: repeat(2, 50%);
    margin: -50px auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .search_cont {
    height: 200px;
    grid-template-columns: repeat(2, 50%);
    margin: -50px auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .search_cont {
    height: 200px;
    grid-template-columns: repeat(2, 50%);
    margin: -100px auto;
  }
}
