.card_contact_container {
  width: 100%;
  margin-top: 3rem;
}

.card_contact_container_childerm {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card_contact_container_items {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem;
  padding-top: 1rem;
}

.card_contact_container_items_content {
  height: auto;
  min-height: 500px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-bottom: 20px;
}

.card_contact_container_items_content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.info_container_card {
  padding: 20px;
  position: relative;
}

.info_container_card h1 {
  line-height: 1;
}

.info_container_card h4 {
  line-height: 1;
  font-size: 18px;
  font-weight: 300;
  color: #232323;
}

.info_container_card p {
  font-size: 14px;
  font-weight: 300;
  color: gray;
  padding-top: 15px;
}

.info_container_card a {
  width: 100%;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  margin-top: 30px;
  padding: 11px;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.05);
  background-color: #90c33c;
  text-decoration: none;
  outline: none;
  text-align: center;
  justify-content: center;
  display: block;
}

.info_container_card a:hover {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card_contact_container_items {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card_contact_container_items {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card_contact_container_items {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card_contact_container_items {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card_contact_container_items {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }
}
