.card_order {
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  cursor: pointer;
  border: 1px solid gainsboro;
}

.card_order:hover {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.card_order_active {
  margin-bottom: 20px;
  background-color: #f4f5f5;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  cursor: pointer;
  border: 1px solid gainsboro;
}

.card_order_active:hover {
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.08);
}

.img__orden {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
}

.info_order__column h1 {
  line-height: 0;
  margin: 0;
}

.info_order {
  margin: 0 1rem;
  width: 100%;
}

.info_order h4 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.info_order p {
  color: #90c33c;
}

.info_order h4 span {
  color: #90c33c;
}

.details_order p {
  color: black;
  font-weight: 700;
}

.info_order button {
  text-decoration: none;
  color: #90c33c;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 8px;
  border-radius: 7px;
  width: 300px;
  margin-right: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.img__details {
  width: 100%;
  height: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: center center;
}

.conten-modal-details {
  padding: 20px;
}

.estado {
  margin-bottom: 60px;
}

.estado h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  color: #90c33c;
  line-height: 0pt;
}

.estado span {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0pt;
}

.titulos {
  margin-bottom: 60px;
}

.titulos h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 0pt;
}

.valorar {
  text-decoration: none;
  color: white;
  background-color: #90c33c;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border-radius: 100px;
  width: 100%;
  margin-right: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

._plato {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

._plato h2 {
  text-transform: uppercase;
  font-weight: 900;
}

._plato img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.im {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}

._ingredientes {
  margin-left: 1rem;
  width: 300px;
}

.dejar_op {
  width: 100%;
  min-width: 200px;
  text-decoration: none;
  color: white;
  background-color: #90c33c;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn_container {
  display: flex;
  width: 300px;
  flex-direction: row;
}

.progress {
  margin-top: 20px;
  width: 300px;
}

@media (max-width: 600px) {
  .progress {
    margin-top: 20px;
    width: 160px;
  }

  .btn_container {
    display: flex;
    width: 200px;
    flex-direction: column;
  }

  .info_order button {
    margin-top: 10px;
    width: 150px;
  }
}
