.Constiner-home {
  background-color: transparent;
  padding-bottom: 5rem;
}

.Barner-home-full {
  background-color: #90c33c;
  padding-top: 50px;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 240px);
  margin-left: auto;
  margin-right: auto;
}

.no_available {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  min-height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.no_available h1 {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.no_available p {
  font-size: 20px;
  font-weight: 300;
  color: white;
  max-width: 700px;
  margin-top: 50px;
}

.no_available img {
  width: 150px;
  object-fit: cover;
  object-position: center center;
}

.Barner-home {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
  padding: 20px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.Barner-home div {
  height: auto;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.Barner-home div img {
  width: 500px;
  object-fit: cover;
  object-position: center center;
  display: inline;
}

.search {
  justify-content: center !important;
  align-self: center;
  align-items: center !important;
  text-align: left;
  padding-top: 20px;
}

.search input {
  width: 71%;
  height: 60px;
  border: 2px solid white;
  border-radius: 70px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  margin-left: -30px;
  text-align: left;
}

.search button {
  width: 25%;
  height: 50px;
  margin-left: auto;
  border: none;
  outline: none;
  border-radius: 70px;
  background-color: #2d2861;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.search button:hover {
  cursor: pointer;
}

.search h1 {
  line-height: 1.2;
  font-size: 42px;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.search p {
  text-align: left;
  font-weight: 300;
  color: #fff;
}

.lotie {
  display: inline;
}

.info_map {
  margin: 30px 20px;
  display: flex;
  align-items: center;
}

.info_map h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.info_map h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}

.info_map p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  line-height: 0;
  color: gray;
}

.info_map button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #90c33c;
  color: white;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .Barner-home {
    grid-template-columns: 100%;
    margin-top: 20px;
  }

  .no_available {
    padding-top: 150px;
  }

  .Barner-home div {
    min-height: auto;
  }

  .lotie {
    display: none;
  }

  .search input {
    width: 100%;
    margin-left: 0px;
  }

  .search button {
    width: 100%;
    margin-top: 20px;
    background-color: #2d2861;
  }

  .search h1 {
    text-align: center;
    font-size: 30px;
  }

  .search p {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .Barner-home {
    grid-template-columns: 100%;
    margin-top: 20px;
  }

  .no_available {
    padding-top: 150px;
  }

  .lotie {
    display: none;
  }

  .search input {
    width: 100%;
    margin-left: 0px;
  }

  .search button {
    width: 100%;
    margin-top: 20px;
    background-color: #2d2861;
  }

  .search h1 {
    text-align: center;
  }

  .search p {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Barner-home-full {
    min-height: calc(100vh - 260px);
  }

  .Barner-home {
    grid-template-columns: 100%;
  }

  .lotie {
    display: none;
  }

  .search input {
    width: 65%;
    margin-left: -40px;
  }

  .no_available {
    padding-top: 100px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Barner-home {
    grid-template-columns: 50% 50%;
  }

  .no_available {
    padding-top: 50px;
  }

  .lotie {
    display: inline;
  }

  .search input {
    width: 70%;
    margin-left: -30px;
  }

  .Barner-home div img {
    width: 400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Barner-home {
    grid-template-columns: 60% 40%;
  }

  .lotie {
    display: inline;
  }

  .search input {
    width: 70%;
    margin-left: -30px;
  }

  .no_available {
    padding-top: 50px;
  }

  .Barner-home div img {
    width: 550px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1500px) {
  .Barner-home div img {
    width: 600px;
  }
}
