.container_page1 {
  width: 100%;
  padding-top: 3rem;
}

.restaurant_title {
  text-align: center;
  font-weight: bold;
}

.bg {
  width: 180px;
  height: 180px;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./circle.svg");
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page1_childrem {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  text-align: center;
  align-self: center;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  gap: 2rem;
}

.item {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 20px;
}

.page1_childrem div img {
  width: 130px;
  height: 130px;
  text-align: center;
}

.page1_childrem div h3 {
  font-weight: 700;
  text-align: center;
}

.page1_childrem div p {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .page1_childrem {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page1_childrem {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page1_childrem {
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page1_childrem {
    grid-template-columns: 33% 33% 33%;
    gap: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page1_childrem {
    grid-template-columns: 33% 33% 33%;
    gap: 2rem;
  }
}
