.inf {
  width: 100%;
}
.page_containers {
  width: 100%;
  background-color: #90c33c;
  height: auto;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
  margin-top: -10px;
}

.page_containers_items {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  margin: 0 auto;
}

.p_items {
  margin: 20px;
}

.p_items {
  justify-content: center;
  align-items: center;
}

.p_items img {
  width: 96%;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center center;
}

.p_items h3 {
  font-size: 28px;
  color: white;
  line-height: 1.3;
  font-weight: 800;
}

.check_conts {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.check_conts h1 {
  color: black;
  font-weight: 900;
  font-size: 32px;
}

.check_conts ul {
  list-style: none;
  text-decoration: none;
}

.check_conts ul li {
  display: flex;
  flex-direction: row;
}

.check_conts ul li p {
  font-size: 20px;
  font-weight: 300;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page_containers_items {
    grid-template-columns: 100%;
  }

  .page_containers {
    margin-top: -90px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page_containers_items {
    grid-template-columns: 100%;
  }

  .page_containers {
    margin-top: -90px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page_containers_items {
    grid-template-columns: 100%;
  }

  .page_containers {
    margin-top: -80px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page_containers_items {
    grid-template-columns: 50% 50%;
  }

  .page_containers {
    margin-top: -30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page_containers_items {
    grid-template-columns: 50% 50%;
  }

  .page_containers {
    margin-top: -20px;
  }
}
