.tarjeta {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 120px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid gainsboro;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.tarjeta img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.tarjeta div {
  justify-items: center;
  align-self: center;
  margin-left: 1rem;
}

.tarjeta div p {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.tarjeta div h3 {
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.add_card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 30px;
}

.conten-anadir {
  padding: 20px;
}

.stripebtn {
  padding: 9px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  margin: 10px;
  margin-top: 30px;
  border-radius: 5px;
  color: #90c33c;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
