.prof_cont {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.prof_cont_form {
  width: 100%;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .prof_cont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

  .prof_cont_form {
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }
}
