.container-page2 {
  width: 100%;
  height: auto;
}

.sub-container-page2 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 0rem;
}

.sub-sec-1 {
  margin: 20px;
}

.sub-sec-1 h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 32px;
}

.chica {
  width: 400px;
  text-align: right;
  margin-left: auto;
  display: flex;
  margin-bottom: -20px;
}

.extras {
  text-align: center;
  width: 100%;
  padding: 30px 0;
  background-color: #eee;
}

.extras h1 {
  color: #90c33c;
  padding-left: 2rem;
  padding-right: 2rem;
}

.extras p {
  color: #90c33c;
  font-weight: 200;
  font-size: 16px;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sub-container-page2 {
    grid-template-columns: 100%;
  }
  .chica {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sub-container-page2 {
    grid-template-columns: 100%;
  }

  .chica {
    width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sub-container-page2 {
    grid-template-columns: 50% 50%;
  }

  .chica {
    width: 300px;
    margin-left: auto;
    margin-right: 0%;
    margin-left: 10px;
    margin-top: 170px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sub-container-page2 {
    grid-template-columns: 50% 50%;
  }

  .chica {
    width: 300px;
    margin-left: auto;
    margin-right: 0%;
    margin-left: 10px;
    margin-top: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sub-container-page2 {
    grid-template-columns: 60% 40%;
  }

  .chica {
    width: 400px;
    margin-left: auto;
    margin-right: 0%;
    margin-left: 10px;
    margin-top: 8rem;
  }
}
