.container__orden {
  background-color: #f4f5f5;
  padding-top: 140px;
  padding-bottom: 40px;
  margin: 0;
}

.container__orden_childrem {
  width: 100%;
  max-width: 500px;
  min-height: 80vh;
  padding: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.items_childrem {
  width: 100%;
  height: auto;
  min-height: 60px;
  border-bottom: 1px solid #f4f5f5;
  padding-bottom: 20px;
  margin-top: 30px;
  position: relative;
}

.items_childrem h3 {
  font-weight: 700;
}

.items_childrem p {
  font-weight: 300;
  color: gray;
}

.cupon_aplied {
  background-color: #fcffe6;
  color: #a0d911;
  padding: 20px;
}

.card__payment {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 90px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  align-items: center;
  display: flex;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.cont_propi {
  display: flex;
  overflow-x: scroll;
}

.card_prop {
  width: 170px;
  height: 70px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.card__payment img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.btn-finaly {
  width: 85%;
  max-width: 440px;
  height: 60px;
  background-color: #90c33c;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 100px;
  bottom: 20px;
  overflow: auto;
  z-index: 90090;
  display: block;
  position: fixed;
  padding-top: 15px;
  font-weight: 700;
  font-size: 20px;
}

.btn-finaly-inactive {
  width: 85%;
  max-width: 440px;
  height: 60px;
  background-color: gray;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 100px;
  bottom: 20px;
  overflow: auto;
  z-index: 90090;
  display: block;
  position: fixed;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.btn-finaly-inactive:hover {
  color: white;
}

.btn-finaly:hover {
  color: white;
}
