.container_qa {
  width: 100%;
  max-width: 1000px;
  height: auto;
  min-height: 30vh;
  margin: 10rem auto;
}

.container_qa h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.container_qa p {
  font-size: 28px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 3rem;
}

.container_qa a {
  padding: 20px 50px;
  color: white;
  background-color: #90c33c;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.container_qa a:hover {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container_qa {
    margin: 0px;
  }

  .container_qa h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin: 10px;
  }

  .container_qa p {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 3rem;
    margin-left: 10px;
  }

  .container_qa a {
    margin-left: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container_qa {
    margin: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container_qa {
    margin: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container_qa {
    margin: 10rem auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container_qa {
    margin: 10rem auto;
  }
}
