.container-page4 {
  width: 100%;
  height: auto;
}

.sub-container-page4 {
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.sec-container-page4 {
  width: 94%;
  height: 370px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  background-image: linear-gradient(90deg, #647dee 0, #647dee 30%, #8e54e9);
  display: flex;
  flex-wrap: wrap;
}

.immm {
  width: 370px;
  height: 270px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.imagen-chica {
  width: 370px;
  height: 300px;
  margin-top: 70px;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.tex-sec-4 {
  width: 500px;
}

.tex-sec-4 h1 {
  padding-left: 3rem;
  padding-top: 2rem;
  text-align: left;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: white;
}

.tex-sec-4 p {
  padding-left: 3rem;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: white;
  margin-bottom: 3rem;
}

.btn-conocer {
  margin-left: 3rem;
  background-image: white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  padding-left: 60px;
  padding-right: 60px;
}

.btn-conocer:hover {
  color: white;
}

@media (min-width: 411px) and (max-width: 768px) {
  .imagen-chica {
    display: none;
  }

  .btn-conocer {
    margin-left: 0.5rem;
    background-image: white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    padding-left: 60px;
    padding-right: 60px;
  }

  .btn-conocer:hover {
    color: white;
  }

  .sec-container-page4 {
    width: 94%;
    height: 440px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    background-image: linear-gradient(90deg, #647dee 0, #647dee 30%, #8e54e9);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 925px) {
  .imagen-chica {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .imagen-chica {
    display: none;
  }

  .tex-sec-4 {
    width: 95%;
  }

  .sec-container-page4 {
    width: 94%;
    height: 440px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    background-image: linear-gradient(90deg, #647dee 0, #647dee 30%, #8e54e9);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .btn-conocer {
    margin-left: 3rem;
    background-image: white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    padding-left: 30px;
    padding-right: 30px;
  }
}
