.container-page1 {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.sub-container-page1 h1 {
  font-weight: bold;
  font-size: 32px;
}

.sub-container-page1 {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-items h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 10px;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.constainer-box {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem;
  margin-top: 3rem;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.card-items {
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  height: auto;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05),
    0px 20px 40px rgba(0, 0, 0, 0.05);
}

.card-items:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.3s;
}

.icon-sec {
  z-index: 4;
  position: absolute;
  margin-top: -4rem;
  margin-left: 1rem;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #8fc33c36;
}

.card-items p {
  padding-top: 0rem;
  font-size: 16px;
  color: #1c242b;
  font-weight: 300;
}

.link-footer {
  color: #90c33c;
}

.link-footer:hover {
  color: #90c33c;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .constainer-box {
    grid-template-columns: 100%;
  }

  .card-items {
    margin: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .constainer-box {
    grid-template-columns: 100%;
  }
  .card-items {
    margin: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .constainer-box {
    grid-template-columns: 50% 50%;
  }
  .card-items {
    margin: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .constainer-box {
    grid-template-columns: 33% 33% 33%;
  }

  .card-items {
    margin: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .constainer-box {
    grid-template-columns: 33% 33% 33%;
  }

  .card-items {
    margin: 1rem;
  }
}
