.offer_contents {
  width: 100%;
  max-width: 1200px;
  display: flex;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.offer_contents::-webkit-scrollbar {
  display: none;
}

.offer_contents div {
  width: 300px;
  height: 175px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

.offer_contents img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
  cursor: pointer;
}
