.Menu right {
  position: absolute;
  z-index: 300;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 10px;
  z-index: 100;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2d2861;
  z-index: 100;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #2d2861;
  z-index: 100;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 100;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #90c33c;
  z-index: 100;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 100;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2em 0.9em 0;
  font-size: 1.15em;
  z-index: 100;
  margin-top: -30px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #90c33c;
  z-index: 100;
}

/* Wrapper for item list */
.bm-item-list {
  color: #90c33c;
  padding: 0.8em;
  z-index: 100;
}

/* Individual item */
.bm-item {
  display: inline-block;
  z-index: 100;
}

/* Styling of overlay */
.bm-overlay {
  display: none;
}

.menu-item {
  text-decoration: none;
  color: gray;
  margin: 10px;
  font-family: Helvetica;
  font-weight: bold;
  z-index: 100;
}

.menu-item:hover {
  text-decoration: none;
  color: #90c33c;
  z-index: 100;
}

.menu-item1 {
  text-decoration: none;
  color: #90c33c;
  margin-bottom: 20px;
  z-index: 100;
}

.menu-item1:hover {
  text-decoration: none;
  color: #90c33c;
  z-index: 100;
}
