.containers_rider {
  width: 100%;
}

.containers_rider_full {
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url("../../Assets/images/franja.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: right;
}

.containers_rider_full_items {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.title {
  font-size: 60px;
  font-weight: 900;
  color: #2d2861;
  line-height: 1.2;
}

.subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #2d2861;
  margin: 0;
}

.apps_cont {
  margin-top: 30px;
}

.apps_cont img {
  width: 130px;
  margin-right: 20px;
}

.tarifas {
  list-style: none;
  margin: 20px 0;
}

.tarifas li p {
  font-size: 20px;
  font-weight: 300;
  color: #2d2861;
  margin: 5px;
}

.tarifas li span {
  font-weight: bold;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .containers_rider_full_items {
    grid-template-columns: 100%;
  }

  .title {
    margin: 20px;
    font-size: 32px;
  }

  .subtitle {
    margin: 20px;
  }

  .apps_cont {
    margin: 20px;
  }

  .fo {
    margin: 20px;
  }

  .tarifas {
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .containers_rider_full_items {
    grid-template-columns: 100%;
  }

  .title {
    margin: 20px;
  }

  .subtitle {
    margin: 20px;
  }

  .apps_cont {
    margin: 20px;
  }

  .fo {
    margin: 20px;
  }

  .tarifas {
    padding: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .containers_rider_full_items {
    grid-template-columns: 100%;
  }

  .title {
    margin: 20px;
  }

  .subtitle {
    margin: 20px;
  }

  .apps_cont {
    margin: 20px;
  }

  .fo {
    margin: 20px;
  }

  .tarifas {
    padding: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .containers_rider_full_items {
    grid-template-columns: 50% 50%;
  }

  .title {
    margin: 0px;
  }

  .subtitle {
    margin: 0px;
  }

  .apps_cont {
    margin: 0px;
  }

  .fo {
    margin: 0px;
  }

  .tarifas {
    padding: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .containers_rider_full_items {
    grid-template-columns: 50% 50%;
  }

  .title {
    margin: 0px;
  }

  .subtitle {
    margin: 0px;
  }

  .apps_cont {
    margin-top: 20px;
  }

  .fo {
    margin: 0px;
  }

  .tarifas {
    padding: 0px;
  }
}
