.nav_details {
  position: relative;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 100 !important;
}

.nav_details.shadow_details {
  position: relative;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100 !important;
}

.header_items {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_details {
  width: 120px;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logoblackprofile.svg");
}

.logo_details.logo_details_black {
  width: 120px;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logoblackdetails.svg");
}

.no_visible_items {
  display: none;
}

.visible_items {
  display: inline;
}

.stiky-contenedor_details {
  background-color: white;
  padding: 15px 0px;
  border-bottom: 0.3px solid gainsboro;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
}

.stiky-items_details {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  display: flex;
}

.stiky-items_details::-webkit-scrollbar {
  display: none;
}

.cat_item-smoot_details {
  padding-right: 20px;
  margin-left: 15px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
