.detail_store {
  background-color: #f4f5f5;
}

.details_header {
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-color: black;
}

/* "#90C33C" */

.breadcrumb_cont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 15px;
}
.breadcrumb {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
  width: auto;
  display: inline;
  border-radius: 100px;
}

.container_info {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: -150px auto 5vh auto;
  z-index: 90;
}

.container_info_content {
  background-color: white;
  width: 90%;
  max-width: 600px;
  height: auto;
  min-height: 30vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05),
    0px 20px 40px rgba(0, 0, 0, 0.05);
}

.container_info_content h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.container_info_shipping {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.container_info_shipping div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_info_shipping span {
  margin-left: 5px;
}

.container_info_shipping img {
  width: 25px;
}

.info_btns button p {
  margin: 0;
  line-height: 0.3;
  font-size: 10px;
}

.info_btns button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05),
    0px 20px 40px rgba(0, 0, 0, 0.05);
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 100px;
}

.switch {
  width: 300px;
  height: 40px;
  background-color: gainsboro;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.switch button {
  border: none;
  background-color: #90c33c;
  width: 150px;
  height: 40px;
  border-radius: 100px;
  color: black;
  outline: none;
  cursor: pointer;
}
.switch button img {
  width: 15px;
}

.switch .active {
  border: none;
  background-color: transparent;
  width: 150px;
  height: 30px;
  border-radius: 100px;
  color: black;
  outline: none;
  cursor: pointer;
}

.autoshipping_content {
  margin-bottom: 3rem;
}

.autoshipping_content div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.autoshipping_content p {
  margin-left: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.adress_content {
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05),
    0px 20px 40px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adress_content h3 {
  line-height: 1;
  font-weight: 300;
  color: gray;
}

.shipping_tipo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.shipping_tipo_items {
  display: flex;
  text-align: left;
  line-height: 1;
}

.shipping_tipo_items h4 {
  font-weight: 700;
}

.shipping_tipo_items p {
  font-weight: 300;
  color: gray;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .breadcrumb {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .breadcrumb {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .breadcrumb {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .breadcrumb {
    display: inline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .breadcrumb {
    display: inline;
  }
}
