.constainer__restaurant {
  width: 100%;
  padding-top: 100px;
  background-color: white;
}

.constainer__restaurant_childern h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
}

.constainer__restaurant_childern {
  padding: 30px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.nav_bar_searc {
  width: 100%;
  height: 70px;
  background-color: gainsboro;
  margin-bottom: 2rem;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.sea {
  background-color: rgb(168, 168, 168);
}

.search_bar input {
  width: 400px;
  border: 1px solid rgb(168, 168, 168);
  outline: none;
  padding: 0 20px;
  margin-right: 20px;
  text-align: left;
  border-radius: 10px;
  background-color: ghostwhite;
}

.search_bar button {
  padding: 12px 30px;
  margin-left: auto;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #2d2861;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.search button:hover {
  cursor: pointer;
}

.filters {
  display: none;
}

.container__cards {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1rem;
}

.container__cards-all {
  grid-template-columns: 100%;
  margin-top: 50px;
  text-align: center;
}

.nodata {
  background-color: #f9fafa;
  text-align: center;
  padding-bottom: 40px;
}

.nodata img {
  width: 300px;
}

.nodata h1 {
  line-height: 1;
  font-weight: 700;
  font-size: 20px;
}

.nodata button {
  padding: 11px;
  background-color: #212121;
  margin: 10px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 320px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 85px;
  }

  .constainer__restaurant_childern {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin-bottom: 30px;
  }

  .movil-chil {
    padding: 0px;
  }

  .small {
    display: none;
  }

  .container__cards {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }

  .search_bar input {
    width: 150px;
  }

  .search_bar button {
    padding: 12px 10px;
  }

  .nav_bar_searc {
    justify-content: center;
  }

  .sea {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 150px;
  }

  .constainer__restaurant_childern {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin-bottom: 30px;
  }

  .movil-chil {
    padding: 0px;
  }

  .small {
    display: none;
  }

  .container__cards {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }

  .sea {
    display: none;
  }

  .search_bar input {
    width: 160px;
  }

  .search_bar button {
    padding: 12px 10px;
  }

  .nav_bar_searc {
    justify-content: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 150px;
  }
  .small {
    display: none;
  }

  .constainer__restaurant_childern {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 80vh;
    margin-bottom: 30px;
  }

  .container__cards {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }

  .sea {
    display: none;
  }

  .search_bar input {
    width: 300px;
  }

  .nav_bar_searc {
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .constainer__restaurant {
    width: 100%;
    padding-top: 100px;
  }

  .constainer__restaurant_childern {
    padding: 10px;
  }

  .small {
    display: none;
  }

  .container__cards {
    width: 98%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }

  .sea {
    display: flex;
  }

  .nav_bar_searc {
    justify-content: space-between;
  }

  .search_bar input {
    width: 300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .constainer__restaurant {
    width: 100%;
    max-width: 1200px;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .small {
    display: inline;
  }

  .constainer__restaurant_childern {
    padding: 10px;
  }

  .filters {
    display: none;
  }
  .container__cards {
    width: 95%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }

  .sea {
    display: flex;
  }

  .search_bar input {
    width: 350px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .constainer__restaurant {
    width: 100%;
    max-width: 1200px;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .small {
    display: inline;
  }

  .constainer__restaurant_childern {
    padding: 10px;
  }

  .filters {
    display: none;
  }

  .container__cards {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 1rem;
  }

  .sea {
    display: flex;
  }

  .search_bar input {
    width: 400px;
  }
}
