.main-wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  position: relative;
  background-color: #15113b;
}

.nav-items {
  min-height: 108vh;
  height: auto;
}

.topnav {
  flex: 1;
  min-width: 80px;
  z-index: 0;
  height: 100%;
}

.page-content {
  flex: 8;
  min-width: 0;
  background-color: #eceff1;
}

.page-content_Items {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid gainsboro;
  margin: 1rem auto;
  padding: 20px;
}

.page-content_Items_description {
  width: 100%;
  max-width: 1000px;
  margin-top: 6rem;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.page-content_Items_description h1 {
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
  padding: 10px;
}

.page-content_Items_description p {
  font-size: 14px;
  font-weight: 300;
  color: gray;
  line-height: 1;
  padding: 10px;
}

.page-content_Items_buttom {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #aaaaaa;
}

.actv {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #aaaaaa;
  border-bottom: 2px solid #90c33c;
  color: #90c33c;
}
.header_Profile {
  width: 90%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_Profile div {
  margin-right: 50px;
}

.header_Profile button {
  background-color: #15113b;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  color: #90c33c;
  margin: 0 10px;
}

.simple {
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

.logo_profile {
  width: 100px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  cursor: pointer;
}

button.simple.ant-btn {
  height: auto;
  padding: 5px 0px;
}

button.simple.ant-btn h3 {
  white-space: initial;
}

.toggle-nav {
  display: none;
}

@media (max-width: 1100px) {
  button.simple.ant-btn h3 {
    font-size: 12px;
    margin-top: 5px;
  }

  button.ant-btn.active.simple .anticon,
  button.ant-btn.simple .anticon {
    font-size: 16px;
  }

  button.simple.ant-btn {
    padding: 5px 0 0 0;
  }

  .ant-table {
    overflow: auto;
  }

  .topnav {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .toggle-nav {
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    display: block;
    font-size: 16px;
  }

  .header_Profile {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header_Profile div {
    margin-right: 10px;
  }
  .explora {
    margin-right: 5%;
  }

  .topnav {
    padding: 0;
    position: fixed;
    left: 0;
    height: fit-content;
    z-index: 1500;
    border-radius: 0 50% 50% 0;
    overflow: hidden;
    min-width: 80px;
    height: 80px !important;
    cursor: pointer;
  }

  .page-content_Items {
    width: 96%;
    margin: 10px;
  }

  .visible-mobile {
    border-radius: 0;
    height: 100% !important;
  }

  .nav-items {
    display: none;
    padding-bottom: 50px;
    overflow-y: scroll;
  }

  .visible-mobile .nav-items {
    display: block;
  }

  .visible-mobile {
    width: 100%;
    flex: 0;
  }

  .visible-mobile .toggle-nav {
    text-align: left;
    padding-left: calc(5% + 8px);
  }

  .visible-mobile .ant-btn {
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 5px 0 5px 5% !important;
  }

  .visible-mobile .ant-btn h3 {
    margin-left: 5%;
  }

  .container.mt-5 {
    padding: 15px 0 !important;
  }

  .container .cont {
    padding: 15px;
  }

  .ant-radio-group {
    display: block;
    width: 100%;
  }

  .ant-time-picker {
    width: 40% !important;
    margin-top: 10px;
  }

  .card-title {
    padding: 0 10px;
  }

  .cont .ant-card.ant-card-bordered {
    margin: 0 auto;
  }

  .startverify {
    margin: 0;
    width: 100%;
  }
}

/* Top nav var */

.topnav {
  background-color: #15113b;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topnav .topnavtitle {
  color: white;
  height: 60px;
  width: 80px !important;
  margin: 0 auto;
}

.row.nomargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button.ant-btn.simple .anticon {
  font-size: 24px;
  background: #2a2566;
  padding: 10px;
  color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.ant-btn.simple h3 {
  font-size: 14px;
  margin-top: 10px;
  color: white;
}

button.ant-btn.simple {
  background: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  margin-bottom: 20px;
}

button.ant-btn.simple:hover {
  background: #15113b;
}

button.ant-btn.simple:hover .anticon {
  background: #2a2566;
}

button.ant-btn.active.simple {
  background: #15113b;
}

button.ant-btn.active.simple .anticon {
  font-size: 24px;
  background: #90c33c;
  color: white;
  padding: 10px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
