.cont_AQ {
  width: 100%;
  margin: 10rem auto;
  max-width: 1000px;
}

.cont_AQ h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cont_AQ {
    width: 90%;
    margin: 10rem 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cont_AQ {
    width: 90%;
    margin: 10rem 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cont_AQ {
    width: 90%;
    margin: 10rem 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cont_AQ {
    width: 100%;
    margin: 10rem auto;
    max-width: 1000px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cont_AQ {
    width: 100%;
    margin: 10rem auto;
    max-width: 1000px;
  }
}
