.menu__container h1 {
  color: #2e3333;
  font-size: 28px;
  font-weight: 900;
  margin-top: 30px;
}

.out {
  filter: grayscale(100%);
}

.menu__container p {
  color: #2e3333;
  font-size: 14px;
  font-weight: 300;
}

.plato__contenedor {
  width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  flex-wrap: wrap;
}

.plato-card {
  background-color: white;
  height: auto;
  min-height: 100px;
  padding: 20px;
  display: flex;
  cursor: pointer;
}

.plato-card:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
}

.plato-card div {
  margin-right: 20px;
}

.plato-card h4 {
  font-size: 18px;
  line-height: 1;
}

.plato-card p {
  font-size: 14px;
  color: gray;
  line-height: 1.3;
}

.plato-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center center;
  margin-left: auto;
  border-radius: 5px;
}

.modal_contents {
  padding: 20px;
}

.modal_contents img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}

.modal_contents h2 {
  font-weight: 700;
  line-height: 1;
  margin-top: 20px;
}

.modal_contents p {
  line-height: 1.3;
  color: gray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .plato__contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
    flex-wrap: wrap;
  }

  .plato-card {
    background-color: white;
    height: auto;
    min-height: 100px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #f4f5f5;
  }

  .menu__container h1 {
    color: #2e3333;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 15px;
  }

  .subtitle {
    color: #2e3333;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .plato__contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
    flex-wrap: wrap;
  }

  .plato-card {
    background-color: white;
    height: auto;
    min-height: 100px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #f4f5f5;
  }

  .menu__container h1 {
    color: #2e3333;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 15px;
  }

  .subtitle {
    color: #2e3333;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .plato__contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
    flex-wrap: wrap;
  }

  .plato-card {
    background-color: white;
    height: auto;
    min-height: 100px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #f4f5f5;
  }

  .menu__container h1 {
    color: #2e3333;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 15px;
  }

  .subtitle {
    color: #2e3333;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu__container h1 {
    color: #2e3333;
    font-size: 28px;
    font-weight: 900;
    margin-top: 30px;
  }

  .plato__contenedor {
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .plato-card {
    background-color: white;
    height: auto;
    min-height: 100px;
    padding: 20px;
    display: flex;
    cursor: pointer;
  }

  .subtitle {
    color: #2e3333;
    font-size: 14px;
    font-weight: 300;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .menu__container h1 {
    color: #2e3333;
    font-size: 28px;
    font-weight: 900;
    margin-top: 30px;
  }

  .plato__contenedor {
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .plato-card {
    background-color: white;
    height: auto;
    min-height: 100px;
    padding: 20px;
    display: flex;
    cursor: pointer;
  }

  .subtitle {
    color: #2e3333;
    font-size: 14px;
    font-weight: 300;
  }
}
