.navTranp {
  position: relative;
  width: 100%;
  padding: 10px 10px !important;
  background-color: transparent;
  position: fixed;
  z-index: 99;
  margin-top: 0px;
}

.navTranp.shadowTransp {
  position: relative;
  width: 100%;
  padding: 10px 10px !important;
  background: white;
  position: fixed;
  z-index: 99;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin-top: 0px;
}

.ContainerNav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo.logo-white {
  width: 120px;
  height: 50px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logoblack.svg");
}

.logo {
  width: 120px;
  height: 50px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logowhite.svg");
}

.logoNornal {
  width: 120px;
  height: 50px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center center;
  background-image: url("../../Assets/images/logoblack.svg");
}

.btn-custom-ptimary {
  color: white;
  background-color: #2d2861;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  outline: none;
}

.btn-custom-ptimary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.3s;
  color: white;
}

.btn-custom-secundary {
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  margin: 15px;
  border-radius: 50px;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #2d2861;
}

.btn-custom-secundary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.3s;
  color: white;
  background-color: #2d2861;
}

.RespMenu {
  display: none;
}

.avatar_header {
  width: 40px;
  height: 40px;
  border: 2px solid gainsboro;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.info_Content_header {
  display: flex;
}

.locations {
  display: flex;
  background-color: gainsboro;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 5px;
}

.locations p {
  margin: 0;
  padding: 0;
}

.locations div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 100px;
}

.locations_active {
  background-color: ghostwhite;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    width: 100px;
    height: 50px;
    background-image: url("../../Assets/images/logowhitesmall.svg");
  }

  .logo.logo-white {
    width: 100px;
    height: 50px;
    background-image: url("../../Assets/images/logoblack.svg");
  }

  .logoNornal {
    width: 100px;
    height: 50px;
    background-image: url("../../Assets/images/logoblack.svg");
  }

  .nav {
    margin-top: 60px;
  }

  .nav.shadow {
    margin-top: 60px;
  }
  .items {
    display: none;
  }

  .RespMenu {
    display: inline;
  }
  .locationsNo {
    display: none;
  }
  .locations div {
    padding: 5px 5px;
    border-radius: 100px;
  }

  .locations p {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo {
    background-image: url("../../Assets/images/logowhitesmall.svg");
  }
  .nav {
    margin-top: 50px;
  }

  .nav.shadow {
    margin-top: 50px;
  }
  .items {
    display: none;
  }

  .RespMenu {
    display: inline;
  }
  .locationsNo {
    display: none;
  }
  .locations div {
    padding: 5px 5px;
    border-radius: 100px;
  }

  .locations p {
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    background-image: url("../../Assets/images/logowhite.svg");
  }
  .nav {
    margin-top: 0px;
  }

  .nav.shadow {
    margin-top: 0px;
  }
  .items {
    display: none;
  }

  .RespMenu {
    display: inline;
  }

  .locationsNo {
    display: none;
  }

  .locations div {
    padding: 5px 20px;
    border-radius: 100px;
  }

  .locations p {
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    background-image: url("../../Assets/images/logowhite.svg");
  }
  .nav {
    margin-top: 0px;
  }

  .nav.shadow {
    margin-top: 0px;
  }

  .items {
    display: inline;
  }

  .RespMenu {
    display: none;
  }

  .locationsNo {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo {
    background-image: url("../../Assets/images/logowhite.svg");
  }
  .nav {
    margin-top: 0px;
  }

  .nav.shadow {
    margin-top: 0px;
  }

  .RespMenu {
    display: none;
  }

  .locationsNo {
    display: flex;
  }
}
