.hero_row {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 60% 50%;
}

.hero_row_1 {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-image: url("../franja.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 1;
}

.hero_row_2 {
  width: 50%;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 0;
}

.info_marca {
  display: flex;
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 0 20px;
}

.info_marca h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.info_marca p {
  font-weight: 300;
  font-size: 14px;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero_row {
    grid-template-columns: 100%;
  }

  .hero_row > * {
    order: 0;
  }

  .hero_row_1 {
    width: 100%;
    height: 50vh;
    order: 2;
    position: absolute;
    top: 18vh;
    background-image: url("../franjaSmall.svg");
  }

  .hero_row_2 {
    width: 100%;
    height: 50vh;
    position: relative;
  }

  .info_marca {
    height: 50vh;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero_row {
    grid-template-columns: 100%;
  }

  .hero_row > * {
    order: 0;
  }

  .hero_row_1 {
    width: 100%;
    height: 50vh;
    order: 2;
    position: absolute;
    top: 15vh;
    background-image: url("../franjaSmall.svg");
  }

  .hero_row_2 {
    width: 100%;
    height: 50vh;
    position: relative;
  }

  .info_marca {
    height: 50vh;
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero_row {
    grid-template-columns: 100%;
  }

  .hero_row > * {
    order: 0;
  }

  .hero_row_1 {
    width: 100%;
    height: 50vh;
    order: 2;
    position: absolute;
    top: 15vh;
    background-image: url("../franjaSmall.svg");
  }

  .hero_row_2 {
    width: 100%;
    height: 50vh;
    position: relative;
  }

  .info_marca {
    height: 50vh;
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero_row {
    grid-template-columns: 60% 50%;
  }

  .hero_row > * {
    order: 0;
  }

  .hero_row_1 {
    width: 60%;
    height: 50vh;
    order: 1;
    top: 0;
    background-image: url("../franja.svg");
  }

  .hero_row_2 {
    width: 50%;
    height: 50vh;
    position: absolute;
    order: 2;
  }

  .info_marca {
    height: 50vh;
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero_row {
    grid-template-columns: 60% 50%;
  }

  .hero_row > * {
    order: 0;
  }

  .hero_row_1 {
    width: 60%;
    height: 50vh;
    order: 1;
    top: 0;
    background-image: url("../franja.svg");
  }

  .hero_row_2 {
    width: 50%;
    height: 50vh;
    position: absolute;
    order: 2;
  }

  .info_marca {
    height: 50vh;
    width: 75%;
  }
}

@media only screen and (min-width: 1500px) {
  .info_marca {
    display: flex;
    height: 50vh;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0 20px;
  }
}
