.card_Store {
  background-color: white;
  box-shadow: 0 5px 40px #dadada;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}

.mainImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mainImgInac {
  filter: grayscale(100%);
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info_container {
  padding: 15px;
}

.info_container h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}

.info_container h1 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.shipping {
  position: absolute;
  background-color: white;
  padding: 8px;
  border-radius: 100px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin-top: -30px;
  margin-right: 10px;
  font-size: 12px;
}

.favourites {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 4px;
  font-size: 20px;
  z-index: 1;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
