.item_direccion {
  background-color: white;
  box-shadow: 0 10px 60px #f2f4f5;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-self: center;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid gainsboro;
}

.item_direccion p {
  color: gray;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
