.add_adres_cont {
  padding: 50px 20px;
}

.add_adres_cont h1 {
  text-align: center;
  margin-bottom: 50px;
}

.add_adres_cont_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

.add_adres_cont_input {
  padding: 20px;
}

.cont_types {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  margin-top: 50px;
  margin-bottom: 50px;
}

.itemsTipo {
  width: 150px;
  padding: 5px 30px;
  margin-left: 5px;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  outline: none;
  border-radius: 5px;
  color: #212121;
  cursor: pointer;
}

.itemsTipo:hover {
  color: #212121;
}

.itemsTipoActivo {
  width: 150px;
  padding: 5px 30px;
  border: 0px solid gainsboro;
  border-radius: 5px;
  margin-left: 5px;
  text-align: center;
  background-color: white;
  outline: none;
  color: white;
  background-color: #90c33c;
  cursor: pointer;
}

.itemsTipoActivo:hover {
  color: white;
}

.add_adres_cont_map {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .add_adres_cont {
    padding: 50px 10px;
  }
  .add_adres_cont_grid {
    grid-template-columns: 100%;
  }

  .add_adres_cont_map {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .add_adres_cont {
    padding: 50px 10px;
  }
  .add_adres_cont_grid {
    grid-template-columns: 100%;
  }

  .add_adres_cont_map {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .add_adres_cont {
    padding: 50px 10px;
  }
  .add_adres_cont_grid {
    grid-template-columns: 100%;
  }

  .add_adres_cont_map {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .add_adres_cont {
    padding: 50px 20px;
  }

  .add_adres_cont_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }

  .add_adres_cont_map {
    display: inline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .add_adres_cont {
    padding: 50px 20px;
  }

  .add_adres_cont_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }

  .add_adres_cont_map {
    display: inline;
  }
}
