.card_Notification {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid gainsboro;
  margin: 15px 0;
}

.card_Notification:hover {
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.08);
}
.card_Notification img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.card_Notification h1 {
  margin: 0;
  padding: 0;
}

.card_Notification p {
  margin: 5px 0px;
  padding: 0;
}

.infor {
  margin-left: 15px;
}
