.category__cont {
  width: 100%;
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.category__cont_item {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 15%);
}

.cats {
  width: 175px;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./circle.svg");
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.cats:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.5s;
}
.imagenCat {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center center;
  align-items: center;
}

.imagenCatInac {
  filter: grayscale(100%);
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center center;
  align-items: center;
}

.cats,
.cats-active p {
  text-align: center;
  color: #2d2861;
  font-size: 10px;
  font-weight: 700;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .category__cont {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .category__cont::-webkit-scrollbar {
    display: none;
  }

  .category__cont_item {
    gap: 5rem;
  }

  .category__cont_item {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 35%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .category__cont {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .category__cont::-webkit-scrollbar {
    display: none;
  }
  .category__cont_item {
    gap: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .category__cont_item {
    gap: 1rem;
  }
  .category__cont {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .category__cont::-webkit-scrollbar {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .category__cont_item {
    gap: 0rem;
  }
  .category__cont {
    overflow-y: hidden;
  }

  .category__cont {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .category__cont::-webkit-scrollbar {
    display: none;
  }

  .category__cont_item {
    gap: 0rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .category__cont_item {
    gap: 0rem;
  }

  .category__cont {
    overflow-y: hidden;
  }

  .category__cont {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .category__cont::-webkit-scrollbar {
    display: none;
  }

  .category__cont_item {
    gap: 0rem;
  }
}
