.content_marca {
  width: 90%;
  min-width: 50vh;
  background-color: white;
  max-width: 1200px;
  margin: 130px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.menu_cont {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 2rem;
  margin-top: 3rem;
}

.menu_cont div p {
  color: gray;
}

.menu_cont div h3 {
  color: black;
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}

.foot {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}

.foot a {
  width: 100%;
  background-color: #90c33c;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.foot a:hover {
  background-color: #9ece51;
  color: white;
}

.App_download {
  text-align: center;
  margin-top: 5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content_marca {
    width: 90%;
  }

  .menu_cont {
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content_marca {
    width: 90%;
  }

  .menu_cont {
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content_marca {
    width: 90%;
  }

  .menu_cont {
    grid-template-columns: 45% 45%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content_marca {
    width: 90%;
  }
  .menu_cont {
    grid-template-columns: 45% 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content_marca {
    width: 90%;
  }
  .menu_cont {
    grid-template-columns: 45% 45%;
  }
}
