.con-cat-main {
  padding: 30px 0;
}

.con-cat {
  padding: 20px 0;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.con-cat::-webkit-scrollbar {
  display: none;
}

.cats-active {
  width: 175px;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./circle-active.svg");
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.cat_item {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  cursor: pointer;
  text-align: center;
  background-color: white;
  padding: 5px 30px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  color: #4a4a4a;
}

.cat_item-seleted {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  text-align: center;
  background-color: #90c33c;
  padding: 5px 30px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
}
