.fovatite_Cont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 1.2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fovatite_Cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fovatite_Cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fovatite_Cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fovatite_Cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fovatite_Cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
  }
}
