.containers {
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
  padding-bottom: 100px;
  max-width: 365px;
}

.Containerform {
  margin-left: auto;
  margin-right: auto;
  max-width: 365px;
}

.login-form {
  max-width: 365px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.btn-res {
  padding: 12px;
  background-color: #2d2861;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
